<div class="overlay">

    <div class="login-box">

        <h2>Welcome to EduSwap</h2>

        <p>
            Buy, sell and exchange books,
            notes and electronics with students.
        </p>

        <a href="/login" class="btn">
            Login
        </a>

        <a href="/register" class="btn">
            Sign Up
        </a>

    </div>

</div>