<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Account</title>

    <link rel="stylesheet" href="/css/register.css">
    
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
</head>

<body>

    <div class="register-container">

        <div class="register-box">

            <h1>Create Account</h1>
            <p>Join EduSwap today 🚀</p>

            <form action="/register" method="POST">

                <div class="input-box">
                    <input 
                    type="email" 
                    name="email" 
                    placeholder="Email"
                    required>
                </div>

                <div class="input-box">
                    <input 
                    type="password" 
                    name="password" 
                    placeholder="Password"
                    required>
                </div>


                <button type="submit">
                    Register
                </button>

            </form>


            <div class="login-link">
                Already have an account?
                <a href="/login">Login</a>
            </div>

        </div>

    </div>

</body>
</html>